.calva/output-window/
.classpath
.clj-kondo/
.cpcache
.eastwood
.factorypath
.hg/
.hgignore
.java-version
.lein-*
.lsp/.cache
.lsp/sqlite.db
.nrepl-history
.nrepl-port
.portal/vs-code.edn
.project
.rebel_readline_history
.settings
.shadow-cljs/
.socket-repl-port
.sw*
.vscode
*.class
*.jar
*.swp
*~
/checkouts
/gen
/classes
/target
/node_modules
/resources/public/js/compiled
/resources/public/css/compiled
